# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# Anaconda environment
.env/
.conda/

# Python cache directories
__pycache__/
.pytest_cache/
.pyre/

# Jupyter Notebook checkpoints and metadata
.ipynb_checkpoints/
*.ipynb-meta

# Anaconda environment files
.env.yml
requirements.txt
conda-env/

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.venv/